.friends-modal{
  height: 90vh;
  width:  80vw;
  background-color: var(--logoTextColorPrimary);
  border-radius: 0.4rem;
  box-shadow: 2px 2px 5px rgb(0,0,0);
  position: fixed;
  display: grid;
  place-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 0.5s ease-in-out;
  z-index: 1003;
}
.ri-close-large-line{
  position: absolute;
  top: 2%;
  right: 2%;
  color: #fff;
  font-size: 2.3rem;
  filter: drop-shadow(2px 2px 2px rgb(0,0,0));
  cursor: pointer;
}
.friends-modal-container{
  background-color: #333;
  width: 95%;
  height: 92%;
  position: relative;
  display: flex;
  flex-direction: column;
 justify-content: flex-start;
 align-items: center;
  gap: 2rem;
  border-radius: 0.4rem;
  padding: 2rem;
  overflow-y: scroll;
}
.friends-modal-container>h2{
  font-size: 2rem;
  color: #f0f2f5;
  font-weight: 500;
}
.friends-modal-items{
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
 gap: 2rem;
  height: 90%;
  width: 90%;
  overflow-y: scroll;
  padding-right:0.3rem;
}

.friends-modal-item{
  display:flex;
  /* place-items: center; */
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 98%;
}
.friends-modal-item>img{
  height: 100%;
  width: 9rem;
  border-radius: 0.2rem;
  align-self: end;
  object-fit: contain;
  background-color: #000;
  
}
.friends-modal-item-description{
  display: grid;
  place-items: center;
  gap: 0.7rem;
  width: 90%;
  text-align: center;
}
.friends-modal-item-names{
  display: grid;
  place-items: center;
  gap: 0.3rem;
}

.friends-modal-item-names>p:nth-child(1){
  color: var(--logoTextColorPrimary);
  font-size: 1.5rem;
}
.friends-modal-item-names>p:nth-child(1):hover{
  cursor: pointer;
text-decoration: underline;
}
.friends-modal-item-names>p{
  color: var(--logoTextColorPrimary);
  font-size: 1.3rem;
}
.friends-modal-item-description>span{
  color: #f0f2f5;
  font-size: 1.4rem;
}

.friends-modal-item>button{
  border-radius: 0.4rem;
  padding: 0.8rem 1.3rem 0.8rem 1.3rem;
  border: none;
  outline: none;
  font-family: var(--font-family);
  background-color: var(--logoTextColorPrimary);
  font-size: 1.1rem;
  color: #333;
  cursor: pointer;
  font-weight: 600;
}
#friend-item-hr{
  width: 100%;
  border :1px solid #f0f2f5
}
.no-friends-data{
  display: grid;
  place-items: center;
  margin: auto;
}
.no-friends-data>i{
  color: #f0f2f5;
  font-size: 6rem;
}
.no-friends-data>span{
  color: #f0f2f5;
  font-size: 1.7rem;
  text-align: center;
}
@media screen and (max-width:1200px) {
  .friends-modal{
    height: 90vh;
    width:  90vw;
  }
  .friends-modal-container{
    padding: 2rem 0.5rem 2rem 0.5rem;
  }
  .friends-modal-container>h2{
    font-size: 1.9rem;
  }
  .friends-modal-items{
    height: 90%;
    width: 97%;
 
  }
}
@media screen and (max-width:800px) {
  .friends-modal{
    height: 90vh;
    width:  95vw;
  }
  .friends-modal-item-names>p:nth-child(1){
    font-size: 1.3rem;
    text-align: center;
  }
  
  .friends-modal-item-names>p{
    font-size: 1.1rem;
    text-align: center;
  }
  .friends-modal-item-description>span{
    font-size: 1.1rem;
    text-align: center;
  }
  
  .friends-modal-item>button{
    border-radius: 0.4rem;
    padding: 0.6rem 0.9rem 0.6rem 0.9rem;

    font-size: 1.1rem;
  }
}

@media screen and (max-width:555px){
  .friends-modal-item{
    flex-direction: column;

  }
  .friends-modal-item>img{
    height: 100%;
    width: 14rem;
    border-radius: 0.2rem;
    align-self: center;
    object-fit: contain;
    background-color: #000;
    
  }
  .no-friends-data>i{
    color: #f0f2f5;
    font-size: 4.3rem;
  }
  .no-friends-data>span{
    color: #f0f2f5;
    font-size: 1.4rem;
    text-align: center;
  }
}