.create-password-modal{
  height: 55vh;
  width: 40vw;
  border-radius: 0.4rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--logoTextColorPrimary);
display: grid;
place-items: center;
z-index: 1002;
}
.create-password-modal-container{
  height: 92%;
  width: 95%;
  background-color: #333;
  position: relative;
  border-radius: 0.4rem;
  display: grid;
  place-items: center;
}
.create-password-modal-container>i{
  position: absolute;
  font-size: 1.6rem;
  color: #f0f2f5;
  top: 2%;
  right: 2%;
}
.create-password-modal-body{
  display: grid;
  place-items: center;
  width: 50%;
  gap: 2rem;
 
}
.create-password-modal-body>h2{
  color: #f0f2f5;
  font-size: 1.8rem;
  font-weight: 500 !important;
}
.create-password-modal-form{
  display: grid;
  justify-items: start;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.create-password-modal-form>input{
  width: 100%;
  background-color: transparent;
  border-radius: 0.2rem;
  outline: none;
  border:1px solid var(--logoTextColorPrimary);
  padding: 0.7rem;
  font-size: 1.2rem;
  font-family: var(--font-family);
  font-weight: 500 !important;
  color: #fff !important;
}
.create-password-modal-form>button{
  border-radius: 0.4rem;
  padding: 0.8rem 1.3rem 0.8rem 1.3rem;
  border: none;
  outline: none;
  font-family: var(--font-family);
  background-color: var(--logoTextColorPrimary);
  font-size: 1.1rem;
  color: var(--black);
  cursor: pointer;
  font-weight: 600;
}
.update-password-success{
display: grid;
place-items: center;
width: 85%;
gap: 0.5rem;
}
.update-password-success>i{
  font-size: 2rem;
  color: #32cd32;
}
.update-password-success>p{
  color: #32cd32;
  font-size: 1.4rem;
  text-align: center;
}
.update-password-failed{
  display: grid;
  place-items: center;
  width: 85%;
  gap: 0.5rem;
  }
  .update-password-failed>i{
    font-size: 2rem;
    color: red;
  }
  .update-password-failed>p{
    color: red;
    font-size: 1.4rem;
    text-align: center;
  }
@media screen and (max-width:1200px){
  .create-password-modal{
    width: 45vw;
    height: 50vh;
  }
  .create-password-modal-body>h2{
    font-size: 1.7rem;
  }
}
@media screen and (max-width:1000px){
  .create-password-modal{
    width: 55vw;
  }
  .create-password-modal-body>h2{
    font-size: 1.6rem;
  }
}
@media screen and (max-width:850px){
  .create-password-modal{
    width: 63vw;
  }
  .create-password-modal-body>h2{
    font-size: 1.5rem;
  }
  .create-password-modal-body{
    width: 65%;
  }
}
@media screen and (max-width:650px){
  .create-password-modal{
    width: 70vw;
  }
  .create-password-modal-body>h2{
    font-size: 1.4rem;
  }
  .create-password-modal-body{
    width: 70%;
  }

}
@media screen and (max-width:500px){
  .create-password-modal{
    width:75vw;
  }
  .create-password-modal-body{
    width: 80%;
  }
  .create-password-modal-form>button{
    padding: 0.6rem 1.1rem 0.6rem 1.1rem;
    font-size: 1.1rem;
  }
}
@media screen and (max-width:400px){
  .create-password-modal{
    width: 81vw;
  }
}