.forgot-password-modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 60vh;
  width: 50vw;
  display: grid;
  place-items: center;
  border-radius: 0.4rem;
  
  background-color: var(--logoTextColorPrimary);
  z-index: 1003;
}
.forgot-password-modal-container{
  background-color: #333;
  position: relative;
  display: grid;
  place-items: center;
  gap: 1rem;
  border-radius: 0.4rem;
  height: 95%;
  width: 95%;
}
.forgot-password-modal-container>i{
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 1.6rem;
  color: #fff;
}
.forgot-password-modal-container>h2{
  width: 70%;
  color: #f0f2f5;
  text-align: center;
  line-height: 1.6;
  font-weight: 500;
  font-size: 1.4rem;
}
.authentication-otp{
  display: grid;
  place-items: center;
  width: 50%;
  gap: .5rem;
}
.ri-mail-line{
  font-size: 4rem;
  color: var(--logoTextColorPrimary);
}
.signup-auth-form{
  display: grid;
 justify-items:start !important;
 align-items: center;
  width: 100%;
  gap: 1rem !important;
}
.signup-auth-form>input{
  width: 100%;
background-color: transparent;
border-radius: 0.2rem;
outline: none;
border:1px solid var(--logoTextColorPrimary);
padding: 0.7rem;
font-size: 1.2rem;
font-family: var(--font-family);
font-weight: 500 !important;
color: #fff !important;
}
.signup-auth-form>button{
  border-radius: 0.4rem;
  padding: 0.8rem 1.3rem 0.8rem 1.3rem;
  border: none;
  outline: none;
  font-family: var(--font-family);
  background-color: var(--logoTextColorPrimary);
  font-size: 1.1rem;
  color: var(--black);
  cursor: pointer;
  font-weight: 600;
}
.signup-auth-form>p{
  color: red;
  font-size: 1.3rem;
  
}
.disabled-verify{
  background-color: #484848 !important;
  color: #333 !important;
  opacity: 0.8;
}

@media screen and (max-width:1000px){
  .forgot-password-modal{
    width: 60vw;
    box-shadow: 0.4px 0.4px 2px #333;
  }
  .ri-mail-line{
    font-size: 3.5rem;
  }
}
@media screen and (max-width:850px){
  .forgot-password-modal{
    width: 65vw;
  }
  .ri-mail-line{
    font-size: 3.4rem !important;
  }

}
@media screen and (max-width:650px){
  .forgot-password-modal{
    width:75vw;
  }
  .ri-mail-line{
    font-size: 3.2rem !important;
  }
  .signup-auth-form>input{
  font-size: 1.1rem !important;
  }
  .signup-auth-form>button{
    padding: 0.6rem 1.1rem 0.6rem 1.1rem !important;
  }
}
@media screen and (max-width:500px){
  .forgot-password-modal{
    width: 80vw;
  }

}
@media screen and (max-width:400px){
  .forgot-password-modal{
    width: 85vw;
  }


}